/* style sheet for underwater Hockey */
/* Assignment 2015 */
/* Molly Patterson */
/* username: mopatterson*/

body{
	color:black;
	background-color: #E8E8E8;
	font-family: "Times new roman", Serif;
	min-width:1024px;
	}

/*The main contains all the content exluding 
	header and footer*/
.main{	
	width: 880px;
	margin:auto;
	text-align:justify;
	}

/*Styling for the Header that appears on each page of the website*/ 	
h1{
	color:white;
	background-color: #546B87;
	border-width: 10px 0px 10px 0px;
	border-style: solid;
	border-color: #6494B5;
	
	padding: 20px;
	text-align:center;
	font-size: 40pt;
	font-family: Serif, times;
	margin: 0px auto 0px auto;
	}
	
h2{
	font-size:24pt;
	font-family: Arial, Sans-serif;
	margin: 5px 0px 5px 0px;
	}

h3{
	font-size: 18pt;
	font-family: inherit;
	margin: 10px 0px 10px 0px;
	}

/*Sections contain the content information in the site*/
section{
	color: inherit;
	background-color: white;
	width : 700px;
	padding: 10px;
	margin-left:10px;
	float: left;
	margin-top:15px;
	
	}

/*Styling for the navigation bar on the 
	left of screen*/
nav li{
	font-family: Times, serif; 
	background-color: white;
	color: inherit;
	border-width:10px;
	border-style: solid;
	border-color: #6494B5;
	border-radius:25px;
	list-style-type:none;
	width: 100px;
	padding: 10px;
	margin:0px;
	}
/*navigation positioning*/
nav{
	float: left;
	margin:0px;
	}

/*the navigation link styling*/	
nav a:link{ 
	color: black;
	background-color: inherit;
	text-decoration: none;
	}

/*styling of a visited link in the nav*/
nav a.visited{
	background-color:inherit;
	color:#546B87;
	}

/*the styling of the link of the page that the veiwer is currently on*/
.current{
	background-color: #8DC7E0;
	color:white;
	}
	
/*individual navigation to detirmine height*/
.homeNav{
	color: inherit;
	background-color: #6494B5;
	padding: 0px 0px 880px 0px;
	}
	
.compNav{
	color:inherit;
	background-color: #6494B5;
	padding: 0px 0px 725px 0px;
	}
	
.aboutNav{
	color:inherit;
	background-color: #6494B5;
	padding: 0px 0px 690px 0px;
	}
	
	
.equipNav{
	color:inherit;
	background-color: #6494B5;
	padding: 0px 0px 766px 0px;
	}
	
/*Image from the Home page*/
.twoplayers{
	margin:0px 0px 0px 10px;
	float:left;
	}

/*Spacing between<p> elements*/	
p{
	margin: 1px;

	}
	
/*Table content and styling*/
table{
	width: 100%;
	}
	
th{
	text-align: left;
	}
	
caption{
	text-align:left;
	margin-top:20px;
	margin-bottom:20px;
	text-decoration: underline;
	}


/*Image from Equipment page*/
.playerDiagram{
	float:right;
	/*float:right;*/
	}

/*Registration form styling*/

li{
	margin-bottom:5px;
	margin-top:5px;
	}

legend{
	background-color: white;
	color:black;
	margin-top: 10px;
	padding: 5px;
	}

form{
	width: 700px;
	margin-bottom: 15px;
	margin-top:15px;
	}
	
form li{
	List-style-type: none;
	height: 1.5em;
	margin-bottom: 5px;
	padding: 0;
}

fieldset{
	margin:10px;
	}

.button li{
	float: left;
	margin: 0px 20px 0px 0px;
	}

.textInputs label{
	float: left;
	width: 150px;
	}
	
/*positions the form to the same dimentions as main*/	
.register{
	width:700px;
	background-color:white;
	color: black;
	margin: 15px auto 15px auto;
	padding:10px;
	}

/*Image positioning on the competition page*/ 
.comphockey{
	margin: 0px 0px 0px 10px;
	float:left;
	}
	
	
/*styling of content on the form submit page*/
.submit{
	background-color: white;
	color: black;
	width:700px;
	margin:15px auto 15px auto;
	padding: 10px;
	}
ol li{
	margin-bottom:5px;
	}
	
/*footnote, disclaimer*/	
.footer{
	text-align:center;
	color:inherit;
	background-color:#546B87;
	clear: left;
	height: 25px;
	padding: 10px;
	font-size: 12px;
	margin-top: 15px;
	}